/* .App {
  text-align: center;
} */

header {
  border-radius: 5px;
  background-color: #282c34;
  justify-content: space-between;
  min-height: 5vh;
  max-height: 8vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: white;
}

/* .logo {
   align-items: center;
  justify-content: center;
  margin: 5px;
  text-align: center;
  height: 10vmin;
  pointer-events: none; 
} */

.logo img {
  max-height: 90%;
  height: 75%;
  margin-left: 20px;
  margin-top: 5px;
}

.logo span {
  position: absolute;
  top: 25px;
  /* font-size: 1em; */
  /* font-weight: bold; */
  margin-left: 10px;
}

.themeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.light {
  background-color: white;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.gray {
  background-color: gray;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.dark {
  background-color: black;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.addTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #282c34;
  margin-right: 10px;
  width: 300px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #282c34;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}