/* .App {
  text-align: center;
} */

header {
  border-radius: 5px;
  background-color: #282c34;
  justify-content: space-between;
  min-height: 5vh;
  max-height: 8vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: white;
}

/* .logo {
   align-items: center;
  justify-content: center;
  margin: 5px;
  text-align: center;
  height: 10vmin;
  pointer-events: none; 
} */

.logo img {
  max-height: 90%;
  height: 75%;
  margin-left: 20px;
  margin-top: 5px;
}

.logo span {
  position: absolute;
  top: 25px;
  /* font-size: 1em; */
  /* font-weight: bold; */
  margin-left: 10px;
}

.themeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.light {
  background-color: white;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.gray {
  background-color: gray;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.dark {
  background-color: black;
  padding: 8px;
  border-radius: 100%;
  margin: 2px;
}

.addTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #282c34;
  margin-right: 10px;
  width: 350px;
  font-size: 1em;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.hideBtn {
  padding: 6px 10px;
  border-radius: 15px;
  border: none;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.success {
  background-color: green;
}

.primary {
  background-color: rgb(48, 92, 212);
}

.taskList {
  padding: 20px;
  margin: 0px 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.taskListHeader {
  padding-bottom: 15px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1.5em;
  margin-right: 15px;
}

.count {
  font-size: 1.3em;
  background-color: rgb(179, 179, 179);
  padding: 4px 7px;
  border-radius: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

li {
  margin: 10px 10px;
  list-style-type: none;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 15px solid #4b87ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 28%;
  max-width: 100%;
}

.time {
  font-size: 0.8em;
  color: gray;
}

i {
  cursor: pointer;
  margin: 4px;
  font-size: large;
}